/* You can add global styles to this file, and also import other style files */
:root{
    --DefaultColor:#ee3737
}
body{
    font-family: quicksand,sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
